.App {
  min-width: 320px;
  margin: 0 auto;
  border-radius: 15px;
}

.section {
  padding: 20px;
  background-color: #f8fa7c;
  color: #14377b;
  border-radius: 0 0 15px 15px;

  box-shadow:
    inset 10px 0 10px rgba(179, 191, 215, 0.803),
    inset -10px -10px 10px rgba(179, 191, 215, 0.803);
}

.section__title {
  text-align: center;
  margin: 0;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.section__block {
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

.currency {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 5px;
  border: 2px solid #5285eb;
  border-radius: 15px;
}

.currency__block {
  display: flex;
  gap: 30px;
}

.currency__title {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px 0;
}

@media (min-width: 500px) {
  .App {
    width: 500px;
  }
}
